<% if resource.errors.any? %>
  <div id="error_explanation alert">
      <%= sentence = I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <ul>
      <h4 class="alert-heading"> <%= sentence %> </h4>
      <% resource.errors.full_messages.each do |message| %>
        <li class="alert-message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
