<% if notice %>
  <div class='alert alert-success alert-dismissible fade show'>
    <%= notice %>
    <button type="button" class=" btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<% end %>

<% if alert %>
  <div class='alert alert-danger alert-dismissible fade show'>
    <%= alert %>
    <button type="button" class=" btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>